.st_all_data{
	position:fixed;
	top:0px;
	-webkit-transform: translate3d(0px, 0px, 0px); 
	visibility: visible; 
	-webkit-transition: -webkit-transform 0.3s ease-out;
	border-top-width:5px;
	border-top-style:solid;
	background: -webkit-linear-gradient(top, rgba(239,239,239,0.98) 0%,rgba(253,253,253,0.98) 100%);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
	opacity:0.9;
	margin-left:30%;
	z-index:1000;
}

.st_all_data textarea{
	width:500px;
	height:300px;
	padding:20px;
	border:0;
}

.st_all_data .header{
	height:30px;
	line-height:30px;
	background:black;
	opacity:0.5;
	color:white;
	font-size:16px;
	font-weight:bold;
	padding-left:15px;
}

.st_all_data  .buttons{
	text-align:center;	
	opacity:1;
	background:white;	
	margin-bottom:5px;
}

.st_all_data .buttons input[type='button']{
	background-image:-webkit-linear-gradient(#599bcd, #3072b3);
	border:0;
	padding:8px 25px;
	border-radius:3px;
	color:white;
	font-weight:bold;	
	cursor:pointer;
	margin-left:20px;	
}



